<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>categories</title>
  <link rel="stylesheet" href="/css/categories.css">

</head>
<body  >
  <div class="container">
      <div class="ex_over" id="ex_over"></div>

    <div class="exam" id="ex">
      <div class="time_left">
        <h3>Math Exam</h3>
        <div class="timer" id="timer">
          <h4>Time Left:- 00:00:00</h4>
        </div>
      </div>
      <hr />

      <div class="catg">
        <span> select category:</span>
      </div>

      <div class="catg">
        <% for(let i=0;i<cat.length;i++){ %>
          <div class="cat" onclick="gen_qz(this.id);" id="<%= i+1%>">
            <%=cat[i].category_name%>
          </div>
          <% } %>
      </div>
      <hr />


      <div id="quiz" class="quiz">
        <div class="que">
          <h3>Q:</h3>
          <h5>
            <%= e.question_text%>
          </h5>
        </div>

        <div class="option">
          <div> <input type="radio" name="q">
           <%= e.option_a %>
          </div>
          <div>
            <input type="radio" name="q">
           <%= e.option_b %>
          </div>
          <div>
            <input type="radio" name="q">
           <%= e.option_c %>
          </div>
          <div>
            <input type="radio" name="q">
            <%= e.option_d %>
          </div>
        </div>

        <div class="next">
          <input type="submit" value="next" />
        </div>
      </div>

    </div>
  </div>

  <script src="/js/exam_categories.js"></script>
</body>

</html>


