<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/exam_page.css" />
    <title>Document</title>
</head>

<body>

    <body>
        <% if(result) {%>
            <table border="1px solid black">
                <tr>
                    <th>Exam ID</th>
                    <th>Exam Name</th>
                    <th>Time Duration</th>
                    <th>Exam Status</th>
                    <th>Action</th>
                </tr>
                <% result.forEach(function(result){ %>
                    <tr>

                        <td>
                            <%=result.exam_id%>
                        </td>
                        <td>
                            <%=result.exam_name%>
                        </td>
                        <td>
                            <%=result.exam_time%>
                        </td>
                        <td>
                            <%=result.exam_status%>
                        </td>
                        <td>

                            <% if (result.exam_status=="Active" ) { %>
                                <button class="btn-login" onclick="popupdata('<%=result.exam_id%>')">Start</button>
                                <% }else { %>
                                    <button disabled class="btn-login"
                                        onclick="popupdata('<%=result.exam_id%>')">Start</button>
                                    <% } %>
                        </td>
                    </tr>
                    <%})%>
            </table>
            <%}%>

                <div class="overlay" onclick="closeModel()"></div>

                <div class="loginform">
                    <span>&times;</span>
                    <form action="">
                        <input type="hidden" id="id" name="id">
                        <div>
                            <label for="">Name</label>
                            <input type="text" name="name" id="name" oninput="checkNameValidName(this)" />
                            <div id="err_name" style="color: red;"></div>

                        </div>
                        <div>
                            <label for="">Email:</label>
                            <input type="text" name="email" id="email" oninput="checkEmail(this)" />
                            <div id="email_id" style="color: red;"></div>
                        </div>
                        <div>
                            <label for="">Access Code:</label>
                            <input type="text" name="accesscode" id="accesscode" oninput="checkAccesscode(this)" />
                            <div id="accesscodeError" style="color: red;"></div>
                        </div>
                        <div id="error"></div>
                        <button type="button" oninput="checksubmit()">Submit</button>
                    </form>
                </div>
    </body>
 <script src="/js/exam_script.js"></script>
</html>